.background{
  width: 232px;
  height: 75px;
  background: grey;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;*/
}

.button-calculator{
  display: inline;
  width: 233px;
}

.orange{
  background-color: orange;
  color: white;
}

.num0{
  width: 116px;
}

button{
  width: 58px;
  height: 49px;
  margin-right: -4px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border: 1px solid #8C8C8C;
}